<router-outlet></router-outlet>


<div class="container">
    <div class="row align-items-start">
        <div class="col-2" *ngIf="Chinese">
            <button type="Button" class="btn btn-success" click="ChineseClick()">Chinese</button>
        </div>
        <div class="col-8">
        </div>
        <div class="col-2" *ngIf="Korean">
            <button type="Button" class="btn btn-success" click="KoreanClick()">Korean</button>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col">

        </div>
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>


    <div class="row align-items-end">
        <div class="col-2" *ngIf="Japanese">
            <button type="Button" class="btn btn-success" click="JapaneseClick()">Japanese</button>
        </div>

        <div class="col-8">

        </div>

        <div class="col-2" *ngIf="Thai">
            <button type="Button" class="btn btn-success" click="ThaiClick()">Thai</button>
        </div>
    </div>
</div>
<!-- {{buttonList | json}} -->