<div *ngIf="gameStarted && !gameFinished">
    <div class="">
        <button *ngFor="let nation of buttonList" type="Button" class="NationButton" (click)="NationClick(nation)">
            {{nation.name}}
        </button>
    </div>

    <div class="ImageBox center" [@bounceInDown]="{ value: bounceInDown, params: { timing:  5, delay:  2 } }">
        <img src="{{nationNode}}" width="300" height="400" [@bounceInDown]="bounceInDown" />
    </div>

</div>

<div *ngIf=" gameFinished">
    <h1>{{YourTimeIsUp}}</h1>
    <h2> {{getClientSideScore()}} </h2>
    <button type="Button" class="btn btn-success" (click)="restart()"> Replay</button>
</div>